<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Blog</title>
    </head>

    <body>
        <h1>Timeline</h1>
        <div style="text-align: center; font-size: xx-large;">
            <a href="/criar_post.html">Criar!</a>
        </div>
        
        <hr>
        <div>
            <% posts.forEach(post => { %>
                <div style="border: 3px solid #000; margin: 20px; padding: 20px; text-align: center;">
                    <h2><%= post.db_titulo %></h2>
                    <p><%= post.db_resumo %></p>
                    <div><%= post.db_conteudo %></div>
                </div>
            <% }); %>
        </div>
    </body>
</html>