<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title> <%="resposta"%> </title>

</html>

<body>
    <h1> <%= mensagem %> </h1>
    <a href="/obter_posts">Home</a>
    
</body>
<html>