<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="estilo.css" rel="stylesheet">
</head>
<body>
<h1>Status:</h1>

<h2><%= resposta %> </h2>

<a href="comprarCarro.html">Voltar</a>



</body>
</html>